@import "tailwindcss";

:root {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

.toast {
  font-size: 1.5rem;
  z-index: 10;
}

p {
  font-size: 1.5rem;
}

input, textarea {
  font-family: "Cairo", sans-serif;
}
